/.idea/
/node_modules/
/.php-cs-fixer.cache
/wp-*.php
/xmlrpc.php
/index.php
/license.txt
/readme.html
/.htaccess
/wp-includes/
/wp-admin/
/wp-content/plugins/
/wp-content/upgrade/
/wp-content/upgrade-temp-backup/
/wp-content/uploads/
/wp-content/index.php
/wp-content/themes/twentytwentyfour/
/wp-content/themes/index.php
/vendor/
/package-lock.json
/composer.lock
/build/*
/dist/css/*
!/dist/css/.gitkeep
/dist/js/*
!/dist/js/.gitkeep
/dist/bundle.style.js
/webpack.config.d.ts
/webpack.config.d.ts.map
