@use "../colors";
@use "../sizes";
@use "../fonts";

.DialogWindow {
  &::backdrop {
    background-color: colors.$white-75;
    opacity: 0.75;
  }

  .d-tab {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70rem;
    height: 50rem;
    background: colors.$white;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 1rem 0 colors.$black-75;
    border-radius: 0.5rem;

    &.-active {
      display: block;
    }
  }

  .d-header {
    height: 12.5rem;
    padding: 3rem 2rem;
  }

  .d-header__title {
    font-size: sizes.$size-header-large;
    line-height: sizes.$size-header-large-line;
    text-align: center;
    margin: 0;
  }

  .d-header__title::before {
    content: '';
  }

  .d-body {
    padding: 0 2rem;
    height: 25rem;
    overflow: auto;

    a {
      hyphens: none;
      text-decoration: underline;
    }

    h4 {
      text-align: center;
      font-size: sizes.$size-header-small;
      line-height: sizes.$size-header-small-line;
      margin: 1.3rem;
    }
  }

  .d-buttons {
    display: flex;
    height: 12.5rem;
    padding: 3rem 2rem;
    justify-content: space-evenly;
    outline: none;

    button {
      border: 1px solid colors.$white;
      width: 20rem;
      padding: 0;
      margin: 0;
      background: colors.$dark-grey;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      font-size: sizes.$size-button-normal;
      line-height: sizes.$size-button-normal-line;
      outline: none;
      color: colors.$white;
      transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    }

    button:hover {
      background: colors.$white;
      color: colors.$light-black;
      border-color: colors.$darker-grey;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 900px) {
  .DialogWindow {
    .d-tab {
      top: initial;
      left: 0;
      width: 100%;
      transform: none;
      border-radius: 0;
      bottom: 0;
    }
  }
}

@media only screen and (max-width: 680px) {
  .DialogWindow {
    .d-header {
      height: auto;
      padding: 2rem;
    }

    .d-header__title {
      font-size: sizes.$size-header-medium;
      line-height: sizes.$size-header-medium-line;
    }
  }
}

@media only screen and (max-width: 490px) {
  .DialogWindow {
    .d-header__title {
      font-size: sizes.$size-header-small;
      line-height: sizes.$size-header-small-line;
    }

    .d-body {
      height: 30rem;
    }
  }
}

@media only screen and (max-height: 680px) and (orientation: landscape) {
  .d-tab {
    max-height: 75%;
    overflow-y: scroll;
  }
}
