@media only screen and (max-width: 900px) {
  .c-content {
    border-radius: 0;
  }

  .g-gdpr .g-tab {
    top: initial;
    left: 0;
    width: 100%;
    transform: none;
    border-radius: 0;
    bottom: 0;
  }

  .codeOfTheDay {
    display: none;
  }
}
