@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:300,300i,400,400i,700,700i&display=swap');

$font-sans: 'Roboto', 'Helvetica', sans-serif;
$font-serif: 'Libre Baskerville', 'Georgia', serif;
$font-fantasy: 'Material Icons', fantasy;
$font-monospace: 'Roboto Mono', monospace;
